body {
    font-size: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

li {
    margin-bottom: 10px;
}

li button {
    margin-left: 20px;
    color: #666;
    
}